.center {
	display: block;
	margin: auto;
	text-align: center;
}

body {
	background-color: #f0f0f0;
}

.unlock-button {
	display: none;
	margin: 25px auto;
}

.pad {
	padding: 5px;
}

input.image-button {
	padding-left: 32px;
	height: 35px;
}
